#login-page {}

.login-main {
    padding: 100px 0;
    background: #E4E5DE;
}

.login-container {
    width: 682px;
    margin: 0 auto;
    padding: 10px 3% 50px;
    border: 2px solid #000000;
    background: #ffffff;
}

.login-title {
    color: #000000;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: -0.5px;
    line-height: 42px;
    padding: 46px 0 26px;
    font-family: 'Noto Sans';
}

.login-subtitle {
    font-family: 'Noto Sans';
    font-size: 22px;

}

.login-link {
    font-family: 'Noto Sans';
    display: inline-block;
    margin-left: 20px;
    color: #000000;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: -0.3px;
    line-height: 24px;
    letter-spacing: -0.27px;
    line-height: 28px;
    text-decoration: underline;
}

.login-sns {
    margin: 34px 0 24px;
}

.link-sns {
    display: inline-block;
    padding: 0 44px 0 0;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.2px;
    line-height: 16 px;
    font-family: 'Noto Sans';
    text-decoration: none;
}
.l-l{
    margin-right: 3px;
}

.login-form{

}

.form-table{
    margin-bottom: 30px
}
.form-table-row{
    position: relative;
    padding: 0 24px 0 20px;
    display: flex;
    -webkit-box-pack: justify;
    font-family: 'Noto Sans';
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-top: 2px solid #000000;
    border-right: 2px solid #000000;
    border-bottom: none;
    border-left: 2px solid
}
.form-table-row:last-of-type {
    border-bottom: 2px solid #000000;
}
.form-table-label{
    width: 24%;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.2px;
    line-height: 60px;
    font-family: 'Noto Sans';

}
.c-input{
    width: 100%;
    background: transparent;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    flex: 1;
    padding-left: 35px;
    border: none;
    color: #000000;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: -0.2px;
    line-height: 22px;
}
.login-forgot{
    display: block;
    margin-bottom: 44px;
    text-decoration: underline;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.2px;
    line-height: 22px;
    font-family: 'Noto Sans';

}
.login-required{
    display: block;
    padding: 0 0 25px;
    color: #000000;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: -0.2px;
    line-height: 18px;
    font-family: 'Noto Sans';


}
.login-btn{
    -webkit-appearance: button;
    cursor: pointer;
    width: 100%;
    color: #ffffff;
    background-color: #000000;
    font-family: 'Noto Sans';
    height: 50px;
    min-width: 140px;
    padding: 0 23.5px 0 25.5px;
    border-radius: -webkit-calc(174px / 2);
    border-radius: calc(174px / 2);
    line-height: 50px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.18px;
    text-align: center;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    cursor: pointer;
    border: none;
    outline: 0;
    text-transform: uppercase;
}
/* Create An Account  */
.a-agree{
    padding: 21px 35px 21px 20px;
    margin-bottom: 24px;
    border-radius: 4px;
    background: #EEEEEC;
}
.a-a-label{
    display: inline-block;
    position: relative;
    height: 18px;
}
label {
    font-weight: 500;
    margin-bottom: 0.2em;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.a-input{
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.2px;
    line-height: 21px;
    font-family: 'Noto Sans';
}
.ca-link{
    font-family: 'Noto Sans';
    text-decoration: underline;
    color: #000000;
}

@media screen and (min-width: 320px) and (max-width: 560px){
    .login-btn{
        font-size: 12px;
        height: 45px;
        line-height: 45px;
    }
    .line-h{
        line-height: 30px;
    }
}
@media screen and (min-width: 320px) and (max-width: 760px){
    .login-main {
        padding: 40px 0 80px;
    }
    .login-container{
        width: 92%;
    }
    .login-title {
        font-size: 36px;
        letter-spacing: -1px;
        line-height: 40px;
    }
    .login-subtitle {
        font-size: 20px;
        letter-spacing: -0.35px;
        line-height: 24px;
    }
    .login-link {
        font-size: 20px;
        letter-spacing: -0.35px;
        line-height: 24px;
        margin: 0;
    }
    .login-sns  {
        margin: 34px 0 24px;
    }
    .link-sns{
        padding-bottom: 15px;
    }
    .login-forgot {
        font-size: 14px;
        letter-spacing: -0.25px;
        line-height: 18px;
    }
    .login-required {
        font-size: 12px;
        letter-spacing: -0.15px;
        line-height: 18px;
    }
    .a-input{
        font-size: 12px;

    }
}